P{
    color:red;
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
     body{
        background-color: rgb(0, 238, 255);
        background-image: -moz-element();
        max-width: 800px;
        margin: auto;
     }
     
    